body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    color: #111;
    line-height: 1.6;
}
nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

nav a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.3s;
}

nav a:hover {
    transform: scale(1.1);
    color: #ffcc00;
}
#me {
    float: left;
    margin-right: 20px;
    width: 300px;
}

p {
    font-family: sans-serif;
    max-width: 4000px;
}
#paragraph {
    font-size: 18px;
    line-height: 1.6;
    margin: auto;
}